body {
    background-image: url('ESTO.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
  }

  h1{
    text-align: center; /* center the text */
}


.exiticon{
  position: fixed; /* fix the position of the icon */
  top: 10px; /* set the distance from the top of the viewport */
  right: 10px; /* set the distance from the right of the viewport */
  transform: translate(-50%, 30%);
}

.fixed-button {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #00ced1;
  color: white;
  padding: 16px 32px;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

button:hover {
  background-color: #0097a7;
}